.trix-button {
    background-color: white !important;
}

trix-editor {
    background-color: white !important;
    color: #212529 !important;
}

.trix-button--icon-attach {
    display: none !important;
}