html,
body {
    height: 100vh !important;
    width: 100vw !important;
}

body {
    background-color: #212529;
    font-family: "Raleway", serif !important;
}

/* Fonts */

h1 {
    font-weight: 900 !important;
}

h2 {
    font-weight: 700 !important;
}

h3 {
    font-size: calc(1rem + .6vw) !important;
}

.link {
    color: #aad3ff !important;
}

.link:hover {
    font-weight: 800 !important;
}

/* Colors */

.bg-primary {
    background-color: #212529 !important;
}

.bg-secondary {
    background-color: #323436 !important;
}

.bg-tertiary {
    background-color: #606264 !important;
}
