html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    background-color: #212529;
    font-family: "Raleway", serif !important;
}

a {
    text-decoration: none !important;
}

.btn-navbar {
    position: fixed;
    top: 32px;
    right: 32px;
    padding: 0 !important;
    border-radius: 4px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
.navbar {
    height: 100vh;
    width: 15rem !important;
    padding: 0;
}

.nav-pills {
    --bs-nav-pills-border-radius: none;
    --bs-nav-pills-link-active-bg: #aad3ff;
}

.nav-link {
    color: #212529;
    transition: all ease-out;

}

.nav-link:hover {
    color: #aad3ff;
}

#user a {
    color: #212529 !important;
}

.dropdown-menu[data-bs-popper] {
    top: -125% !important;
    left: auto !important;
}

/* Fonts */
h1,
.h1 {
    font-weight: 900 !important;
}

h2,
.h2 {
    font-weight: 700 !important;
}

h3,
.h3 {
    font-size: calc(1rem + .6vw) !important;
}

.link {
    color: #aad3ff !important;
}

.link:hover {
    font-weight: 800 !important;
}

/* Colors */
.bg-primary {
    background-color: #212529 !important;
}

.bg-secondary {
    background-color: #323436 !important;
}

.bg-tertiary {
    background-color: #606264 !important;
}
